<!DOCTYPE html>
<html lang="pl">
<head>
   <meta charset="UTF-8">
   <title>Adding new car to list</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/add">
   <table>
       <tr>
           <td>Mark:</td>
           <td><input name="mark"></td>
       </tr>
       <tr>
           <td>Model:</td>
           <td> <input name="carModel"> </td>
       </tr>
       <tr>
           <td>Engine type:</td>
           <td><input name="engineType"></td>
       </tr>
       <tr>
           <td>Capacity:</td>
           <td><input name="capacity"></td>
       </tr>
       <tr>
           <td>Production date:</td>
           <td><input name="productionDate"></td>
       </tr>
       <tr>
           <td>Key number:</td>
           <td><input name="keyNumber"></td>
       </tr>
       <tr>
           <td>Addictives</td>
           <td><input name="addictives"></td>
       </tr>
       <tr>
         <td colspan="2">
   <input type="submit"></td>
   </table>
</form>
</body>
</html>

