<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Adding new motorcycle to list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/list">Car list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/listmoto">Motorcycle list</a>
            </li>
        </ul>
    </div>
</nav>
<form action="http://localhost:8080/addmoto" method="post" onreset="if (!confirm('Czy na pewno chcesz wyczyścić cały formularz?')) return false">
    <table>
        <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Add new motorcycle </a>
        <tr><td></td></tr>       <tr><td></td></tr>
        <tr>
            <td>Mark:</td>
            <td><input name="mark" required></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input name="motorcycleModel" required> </td>
        </tr>
        <tr>
            <td>Version(Serial/Custom)</td>
            <td><input name="version" required></td>
        </tr>
        <tr>
            <td>Motorcycle destiny:</td>
            <td><input name="destiny" required></td>
        </tr>
        <tr>
            <td>Engine type:</td>
            <td><input name="engineType" required></td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td><input name="capacity" required></td>
        </tr>
        <tr>
            <td>Engine operation strokes:</td>
            <td><input name="engineOperationStrokes" required></td>
        </tr>
        <tr>
            <td>Production date:</td>
            <td><input name="productionDate" required></td>
        </tr>
        <tr>
            <td>Drive license:</td>
            <td><input name="license" required></td>
        </tr>
        <tr>
            <td>Key number:</td>
            <td><input name="keyNumber" required></td>
        </tr>
        <tr>
            <td>Addictives</td>
            <td><input name="addictives"></td>
        </tr>



    </table>
    <div class="btn-group" role="group" aria-label="Basic example">

        <input class="btn btn-dark" type="reset" value="Reset" >
        <button type="button" class="btn btn-outline-dark" disabled>                       </button>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
</body>
</html>

