<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<h1 align="center">Vehicle Dealer app</h1>

<p align="center">
    <input class="button1"  type="button" value="Car list" onclick="window.location.href='http://localhost:8080/list'">
    <input class="button2" type="button" value="Add car" onclick="window.location.href='http://localhost:8080/add'">
    <input class="button2" type="button" value="Add motorcycle" onclick="window.location.href='http://localhost:8080/addmoto'">
    <input class="button1"  type="button" value="Motorcycle list" onclick="window.location.href='http://localhost:8080/listmoto'">
</p>


</body>
</html>