<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p align="center">
<img src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/79514827_503416223602779_1764218083813097472_n.jpg?_nc_cat=101&_nc_ohc=lr7wNQvkN9sAQkDOi-ukJNVl66RAvVnKZo5PTdzvjQHzexr4uV90nY5wQ&_nc_ht=scontent-ams4-1.xx&oh=cdf83cd4419aecddf1cad77bd1f22ee6&oe=5E6759E6"
     height="280" width="198"/>

</p>


<p align="center">
    <input type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Add new car to your database" value="Add car" onclick="window.location.href='http://localhost:8080/add'">
    <input type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Show what cars are in the database" value="Car list" onclick="window.location.href='http://localhost:8080/list'">
    <br><br><br>
    <input type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Add new motorcycle to your database" value="Add motorcycle" onclick="window.location.href='http://localhost:8080/addmoto'">
    <input type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Show what motorcycles are in the database" value="Motorcycle list" onclick="window.location.href='http://localhost:8080/listmoto'">
    <br><br><br>
    <input type="button" class="btn btn-danger btn-lg" data-toggle="tooltip" data-placement="top" title="Show Chat" value="Chat" onclick="window.location.href='http://localhost:8080'">
    <br><br><br><br>
    <a href="https://rojacars.otomoto.pl"><img src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/50927986_2070671783050856_4569012821102166016_n.png?_nc_cat=102&_nc_ohc=yOKwX5MwjSEAQlvXZ7nW3kMQlX1VR9f5boMHtja8ECw5O7KnKO3FH7sEg&_nc_ht=scontent-ams4-1.xx&oh=379ae34b25493d938f6227f5b1cda454&oe=5E851A3B" height="78" width="205"
                                               alt="OTOMOTO" data-toggle="tooltip" data-placement="top" title="Redirect to Ro&Ja Cars OTOMOTO page"></a>
    <a href="https://vipgwarant.pl/nowy/"><img src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/78843905_2670912422956634_6391401121633533952_n.png?_nc_cat=106&_nc_ohc=vw90UpNPIacAQn_yI1mB-IKuEwsL3CuJ4IZt0vp_xeWEQh2WEioHSAhww&_nc_ht=scontent-ams4-1.xx&oh=5b15a48b302a48adcd657b4aa62dad84&oe=5E805821" height="78" width="205"
                                               alt="VIP" data-toggle="tooltip" data-placement="top" title="Redirect to VIP GWARANT website"></a>
    <a href="https://www.facebook.com/roandja/"><img src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/78810584_801196086960949_8503359201047740416_n.jpg?_nc_cat=107&_nc_ohc=UISS1um1LP8AQkodO8IHh-2dEI_H5f1fVcyBcnKTRCr6HNxdJZjnEV_Ew&_nc_ht=scontent-ams4-1.xx&oh=363099ba43cf1e70e9983a68ae693bd6&oe=5E685A77" height="110" width="205"
                                               alt="FACEBOOK" data-toggle="tooltip" data-placement="top" title="Redirect to Ro&Ja Cars Facebook page"></a>
    <a href="https://www.axadirect.pl"><img src="https://scontent-ams4-1.xx.fbcdn.net/v/t1.15752-9/78616626_973339569706827_855768763394424832_n.png?_nc_cat=107&_nc_ohc=QdTGyG7CC-wAQmy0tfc-zaHRR2-fXevamoZGlupi6S225t5HI_aacbt7g&_nc_ht=scontent-ams4-1.xx&oh=717b2db133897b979ef24af423ea83f5&oe=5E6F1424" height="78" width="205"
                                               alt="AXA" data-toggle="tooltip" data-placement="top" title="Redirect to AXA Direct website"></a>
    <a href="https://www.mobile.de"><img src="http://popko.de/wp-content/uploads/2018/01/popko_produkte_mobile.png" height="78" width="205"
                                               alt="MOBILEDE" data-toggle="tooltip" data-placement="top" title="Redirect to Mobile.de website"></a>


</p>
</body>
    <footer>Copyright © 2020 by Patry$ & Krzy$ </footer>
</html>




