<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 align="center">Vehicle Dealer app</h1>


<p align="center">
    <input type="button" class="btn btn-primary" value="Add car" onclick="window.location.href='http://localhost:8080/add'">
    <input type="button" class="btn btn-primary" value="Car list" onclick="window.location.href='http://localhost:8080/list'">
    <input type="button" class="btn btn-primary" value="Add motorcycle" onclick="window.location.href='http://localhost:8080/addmoto'">
    <input type="button" class="btn btn-primary" value="Motorcycle list" onclick="window.location.href='http://localhost:8080/listmoto'">

    <br>
    <input type="button" class="btn btn-secondary btn-lg btn-block" value="Check our website!" onclick="window.location.href='https://rojacars.otomoto.pl'">


    <img src="../static/img/wiz.jpg" height="312" width="820"/>
</body>
</html>




