<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Cars on list</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<p align="center"> <h2>Cars in base</h2></p> <br>
<table  class="table table-striped">
    <tr>
        <th>Mark</th><th>Model</th>
        <th>Engine Type</th>
        <th>Capacity</th>
        <th>Production date</th>
        <th>Key number</th>
        <th>Addictives</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    <tr  th:each="wpis: ${car}">
        <td th:text="${wpis.mark}">Mark</td>
        <td th:text="${wpis.carModel}">Model</td>
        <td th:text="${wpis.engineType}">Engine type</td>
        <td th:text="${wpis.capacity}">Capacity</td>
        <td th:text="${wpis.productionDate}">Production date</td>
        <td th:text="${wpis.keyNumber}">Key number</td>
        <td th:text="${wpis.addictives}">Addictives</td>

        <td>
            <a href="#" th:href="@{/delete(id=${wpis.id})}" class="btn btn-danger">

                <i class="fa fa-trash-o fa-lg"></i>Delete</a></td>


        <td>
            <a href="#" th:href="@{/redirect(id=${wpis.id})}" class="btn btn-outline-primary"></i>Update</a>
        </td>

    </tr>


</table>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
</div>
<table class="table table-striped">
    <table class="table table-striped">
    <tr>
        <td>Find by mark</td>
        <td><form action="http://localhost:8080/search"><input name="criterion"></td><td><input type="submit"></form></td>
    </tr>

</table>

</table>
<p align="center"><input type="button" class="btn btn-primary" value="Menu" onclick="window.location.href='http://localhost:8080/'">
<input type="button" value="Add car" onclick="window.location.href='http://localhost:8080/add'"></p>
</body>
</html>
