<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Cars on list</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/list">Car list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/listmoto">Motorcycle list</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add..
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="http://localhost:8080/">Action</a>
                    <a class="dropdown-item" href="http://localhost:8080/">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://localhost:8080/">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="http://localhost:8080/search">

            <input  name="criterion" class="form-control mr-sm-2" type="search" placeholder="Find by mark " aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<a href="#" class="btn btn-secondary btn-lg btn-block disabled" role="button" aria-disabled="true"><h2>Cars in the database</h2></a>
<table  class="table table-striped">
    <tr>
        <th>Mark</th><th>Model</th>
        <th>Engine Type</th>
        <th>Capacity</th>
        <th>Production date</th>
        <th>Key number</th>
        <th>Addictives</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr  th:each="wpis: ${car}">
        <td th:text="${wpis.mark}">Mark</td>
        <td th:text="${wpis.carModel}">Model</td>
        <td th:text="${wpis.engineType}">Engine type</td>
        <td th:text="${wpis.capacity}">Capacity</td>
        <td th:text="${wpis.productionDate}">Production date</td>
        <td th:text="${wpis.keyNumber}">Key number</td>
        <td th:text="${wpis.addictives}">Addictives</td>


        <td>
            <a href="#" th:href="@{/redirect(id=${wpis.id})}" class="btn btn-outline-primary"
               data-toggle="tooltip" data-placement="top" title="Update information"></i>Update</a>
        </td>

        <td>
            <a href="#" th:href="@{/delete(id=${wpis.id})}" class="btn btn-danger"
               data-toggle="tooltip" data-placement="top" title="Delete forever from the database"></i>Delete</a></td>
    </tr>


</table>

<p align="right">

    <input type="button" class="btn btn-primary btn-lg" value="Add new car" onclick="window.location.href='http://localhost:8080/add'">
</p>
<a href="#" class="btn btn-secondary btn-lg btn-block disabled" role="button" aria-disabled="true"><h2></h2></a>






</body>
</html>
