<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Update</title>
    </head>
<body>
<form th:action="@{/update}"  method="post" onreset="if (!confirm('Are you sure you want to clear the entire form?')) return false" th:object="${car} ">
    <table>
        <a href="#" class="btn btn-secondary btn-lg disabled" role="button" aria-disabled="true">Update selected car </a>
        <tr><td></td></tr>       <tr><td></td></tr>
        <tr>
            <td>Mark</td>
            <td><input name="mark" th:field="*{mark}" required></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input name="carModel" th:field="*{carModel} " required></td>
        </tr>
        <tr>
            <td>Engine type</td>
            <td><input name="engineType" th:field="*{engineType}" required></td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td><input name="capacity" th:field="*{capacity}" required></td>
        </tr>
        <tr>
            <td>Production date</td>
            <td><input name="productionDate" th:field="*{productionDate}" required></td>
        </tr>
        <tr>
            <td>Key number</td>
            <td><input name="keyNumber" th:field="*{keyNumber}" required></td>
        </tr>
        <tr>
            <td>Addictives</td>
            <td><input name="addictives" th:field="*{addictives}">
            <input type="hidden" name="id" th:field="*{id}"></td>
        </tr>

    </table>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input type="button" class="btn btn-dark" value="Back" onclick="window.location.href='http://localhost:8080/list'">
        <input type="button" class="btn btn-outline-info" value="Back to menu" onclick="window.location.href='http://localhost:8080/'">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form>
</body>
</html>