<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Aktualizuj</title>
    </head>
<body>
<form th:action="@{/update}"  th:object="${car}">
    <table>
        <tr>
            <td>Mark</td>
            <td><input name="mark" th:field="*{mark}" required></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><input name="carModel" th:field="*{carModel} " required></td>
        </tr>
        <tr>
            <td>Engine type</td>
            <td><input name="engineType" th:field="*{engineType}" required></td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td><input name="capacity" th:field="*{capacity}" required></td>
        </tr>
        <tr>
            <td>Production date</td>
            <td><input name="productionDate" th:field="*{productionDate}" required></td>
        </tr>
        <tr>
            <td>Key number</td>
            <td><input name="keyNumber" th:field="*{keyNumber}" required></td>
        </tr>
        <tr>
            <td>Addictives</td>
            <td><input name="addictives" th:field="*{addictives}">
            <input type="hidden" name="id" th:field="*{id}"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
<input type="button" value="Car list" onclick="window.location.href='http://localhost:8080/list'">
</body>
</html>